/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

### Neutral

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700, 800 */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&display=swap");

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  padding: 40px 200px;
  font-weight: 400;
  background-color: var(--Off-white);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
  font-size: 14px;
  margin-right: 20px;
}

nav a:hover {
  cursor: pointer;
  color: var(--Soft-red);
}

nav a:last-child {
  margin-right: 0;
}

.menu-open {
  display: none;
}

.menu-close {
  display: none;
}

/* hero section */
.mobile-img {
  display: none;
}

.hero-section {
  display: grid;
  grid-gap: 50px;
}

.first-section {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "hero-img hero-img hero-img news"
    "hero-img hero-img hero-img news"
    "hero-data hero-data hero-data news";
}

.hero-img {
  grid-area: hero-img;
}

.hero-data {
  grid-area: hero-data;
  display: flex;
}

.hero-data h1 {
  flex: 1;
  margin-right: 30px;
  font-weight: 800;
  font-size: 33px;
  color: var(--Very-dark-blue);
}

.hero-data .hero-content {
  flex: 2;
  font-size: 15px;
  color: var(--Dark-grayish-blue);
}

.hero-data .hero-content button {
  margin-top: 20px;
  color: var(--Off-white);
  background-color: var(--Soft-red);
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 9px 15px;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 700;
}

.hero-data .hero-content button:hover {
  background-color: var(--Very-dark-blue);
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.news {
  grid-area: news;
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
  padding: 25px;
}

.news h2 {
  color: var(--Soft-orange);
  font-size: 30px;
  margin-bottom: 20px;
}

.news .card {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--Grayish-blue);
}

.news .card:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.news .card h3 {
  margin-bottom: 7px;
  color: var(--Off-white);
  font-size: 14px;
}

.news .card h3:hover {
  cursor: pointer;
  margin-bottom: 7px;
  color: var(--Off-white);
  font-size: 14px;
  color: var(--Soft-orange);
}

.news .card p {
  font-size: 12px;
  color: var(--Grayish-blue);
  line-height: 1.4;
}

.hero-img img {
  width: 100%;
}

.second-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.pc {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /* margin-right: 50px; */
}

.pc:last-child {
  margin: 0;
}

.pc:nth-child(2) {
  margin-right: 1rem;
}

.pc img {
  height: 110px;
  /* margin-right: 15px; */
}

.pc .content {
  display: flex;
  flex-direction: column;
}

.pc .content span {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: var(--Grayish-blue);
}

.pc .content h3 {
  font-size: 17px;
  margin: 6px 0;
}

.pc .content h3:hover {
  cursor: pointer;
  color: var(--Soft-red);
  font-size: 14px;
  margin: 6px 0;
}

.pc .content p {
  font-size: 12px;
  color: var(--Dark-grayish-blue);
}

/* mobile design */
@media screen and (max-width: 768px) {
  .container {
    padding: 30px 20px;
  }

  nav .links {
    position: fixed;
    width: 200px;
    top: 0;
    right: -500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-left: 30px;
    background: var(--Off-white);
    z-index: 99;
    transition: all 650ms ease-in-out;
  }

  .backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
    height: 100vh;
    width: 100vw;
    z-index: 98;
    transition: all 650ms ease-in-out;
  }

  .backdrop.active {
    display: block;
  }

  nav {
    position: sticky;
  }

  nav .links.active {
    right: 0;
  }

  .menu-open {
    display: inline-block;
  }

  .menu-open.active {
    display: none;
  }

  .menu-close {
    display: none;
    transition: all 650ms ease-in-out;
  }

  .menu-close.active {
    display: inline-block;
    z-index: 100;
  }

  nav .links a {
    margin-bottom: 30px;
  }

  /* hero section */
  .first-section {
    grid-template-areas:
      "hero-img"
      "hero-data"
      "news";
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }

  .hero-data {
    flex-direction: column;
  }

  .hero-data h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .hero-data .hero-content {
    line-height: 1.6;
  }

  .second-section {
    flex-direction: column;
  }

  .pc {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .pc h3 {
    margin: 5px 0;
  }
}
